.content {
  right: 0;
  z-index: 10;
}


.description {
  margin-bottom: 10px;
  color: #000000;
}

.toggle-sidebar {
  font-size: 3rem;
  cursor: pointer;
}




.modal-content {
  position: absolute;
  width:100%;
  top: 0px;
  padding:1em;
  border: 1px solid #1a192b;
  background: rgb(59, 211, 173);
  text-align: center;
  font-size: 8px;
}

.modal-button {
  font-size: 3px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;  
  position: fixed;
  overflow-x: hidden;
  z-index: var(--sidenav-z-index);
  top: 0;
  right: 0;
  background: rgb(214, 212, 211);
  padding-top: 3.5rem;
  transition: 0.5s;
}


.sidebar .close-sidebar {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.2rem;
}

.close-sidebar {
  border: none;
  outline: none;
  color: #1a192b;
  background: rgb(214, 212, 211);
}


.btn {
  margin-top: auto;
}
