.sidebar {
  height: 100%;
  width: 0;  
  position: fixed;
  overflow-x: hidden;
  z-index: var(--sidenav-z-index);
  top: 0;
  right: 0;
  background: rgb(214, 212, 211);
  padding-top: 3.5rem;
  transition: 0.5s;
}


.sidebar .close-sidebar {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.2rem;
}

.close-sidebar {
  border: none;
  outline: none;
  color: #1a192b;
  background: rgb(214, 212, 211);
}
